<footer>
    <div id="footertop">
        <div class="footercover">
            <div class="footer-content">
                  <!--<img src="" alt="logo">-->
                  <h1>Merci de votre visite !</h1>
                  <h2>Merci de visiter mon portfolio. N'hésitez pas à revenir pour découvrir mes dernières réalisations. Je suis activement à la recherche d'opportunités d'alternance dans le milieu de la Data. Si mon profil vous intéresse, je serais ravie de discuter de potentiels projets ensemble.</h2>
                  <div id="contact-rs">
                    <li><a href="https://github.com/Memory77" target="_blank"><img src="static/img/github (1).png" alt="github"></a></li>
                    <li><a href="https://www.linkedin.com/in/deborah-soccio-748a21254/" target="_blank"><img src="static/img/linkedin.png" alt="linkedin"></a></li>
                    <li><a href="https://www.linkedin.com/in/deborah-soccio-748a21254/" target="_blank"><img src="static/img/discorde (1).png" alt="discord"></a></li>
                  </div>
                  <a class="wow animated zoomIn btn-pink" href="mailto:soccio.deborah@gmail.com" target="_blank">Me contacter</a>
            </div>
        </div>
    </div>
    <div id="copyright">
        <p>Copyright © 2024 All Right Reserved by Deborah Soccio</p>
        <ul>
          <li><a href="#apropos" class="smooth-scroll">  A propos /</a></li>
          <li><a href="#hardskills" class="smooth-scroll">  HARD SKILLS -   DEV IA & DEV WEB/</a></li>
          <li><a href="#formations" class="smooth-scroll">  Mes projets /</a></li>
          <li><a href="#hobbies" class="smooth-scroll">  Mes Formations /</a></li>
        </ul>
    </div>
  </footer>
