<nav>
    <div class="navbar-container animated zoomIn" data-wow-duration="1s" data-wow-delay="1s">
      <div class="img-nav">
        <div class="nav_link_reseaux"> 
          <li><a href="https://github.com/Memory77" target="_blank"><img src="static/img/github (1).png" alt="github"></a></li>
          <li><a href="https://www.linkedin.com/in/deborah-soccio-748a21254/" target="_blank"><img src="static/img/linkedin.png" alt="linkedin"></a></li>
          <li><a href="https://www.linkedin.com/in/deborah-soccio-748a21254/" target="_blank"><img src="static/img/discorde (1).png" alt="discord"></a></li>
        </div>
        <button id="toggleAudio" class="btn-pink"><img src="static/img/icons/play.png"></button>
        <audio id="audioPlayer" style="display: none;">
          <source src="static/img/Midnight.wav" type="audio/wav">
          Votre navigateur ne supporte pas l'audio.
        </audio>
      </div>
      <div class="burger-menu">
        <!-- <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div> -->
        <img src="img/carte-des-hamburgers.png" class="burger">
      </div>
      <ul class="menu-items">
        <li><a href="#apropos" class="smooth-scroll">  A propos /</a></li>
        <li><a href="#hardskills" class="smooth-scroll">  HARD SKILLS -   DEV IA & DEV WEB/</a></li>
        <li><a href="#formations" class="smooth-scroll">  Mes projets /</a></li>
        <li><a href="#hobbies" class="smooth-scroll">  Mes Formations /</a></li>
        <li><a href="#footertop" class="smooth-scroll">  Contact /</a></li>
      </ul>
      </ul>
    </div>
  </nav>